# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode

# dependencies
frontend/node_modules

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/transcription.db
backend/.venv/
backend/.env
backend/__pycache__
backend/data
